# Backend Dependencies
fastapi
uvicorn
asyncpg
python-dotenv
google-generativeai
chromadb
sentence-transformers
supabase
xarray
netCDF4
requests

# Frontend Dependencies
streamlit
streamlit-folium
folium
plotly